body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}


/*Body Header*/
#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(image/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}
/* Horizontal list */
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;

}

.horizontal-list li{
    display:inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a{
    color:white;
  
    /* transition: color 0.5s , border-bottom 4s; */
    text-decoration: none;
}
.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{

    color: lightgrey;
    border-bottom: 1px solid white;

}
.text-center{
    text-align: center;
}



/* Name and Social Icons */
#name-social-container{
    margin-top: 20vh;
}
#my-name{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    
}

/*Section Classes*/

section {
    width: 100%;
    /* height: 75vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}



.section-heading{
    width:auto;
    padding: 20px 10px 10px ;
    /* margin: 10px auto; */
    font-weight: 400;
}


.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top:10px ;
    margin-right: 0.5rem;
}

section:target{
    background-color: cyan;
}

/* About Section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 1px #3faddf inset, 2px 2px 10px 3px #AAAAAA;
    

}

#my-image{
    height: 20rem;
    width: 20rem;
    margin: auto;
    margin-top: -20px;    
    
   
}
/* Paragraph-Section */

#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}

/* Skills Section */
.skills-display{
    width : 70%;
    /* height: 100px; */
    /* border:  2px  solid black; */
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;

}


.skill-progress{
        width: 7rem;
        height: 1.4rem;
        background-color: lightgrey;
        border-radius: 0.8rem;
        margin:10px
        /* border: 2px solid black; */

}
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;


}
.skill-name span{
    color:white;
    font-size: 1rem;
    position: relative;
    top: -10px;
    left: 10px;
    /* margin-left :50px; */ 
}
/* Portfolio Section */

.portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding : 0 50px;
    margin-bottom: 2%;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}


.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}

/* Contact Section */
#contact {



    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    /*background-image: linear-gradient(50deg,#2857a4 0%, #5378b1 74%);*/
    /*background-image: linear-gradient(170deg,#2857a4 0%, #8496b2 74%);*/
    /*background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);*/
    /*background-image: linear-gradient(to right,#13226fe0, #5473a2e0, #434ba8e0);*/
    /*background-color: #13386fe0;*/
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    /*#2857a4*/
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Experience & Education-Section */

.timeline{
    position:relative;
    width:75%;
    border:2px solid black;
}

.timeline-box{
    position:relative;
    width:40%;
    margin:5px;
    left:5%;
    min-height:150px;
    border:2px solid black;

}


.timeline-box:nth-child(2n){
    left:53%;
    
}

.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 35%;
    right: -12.5%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: lightgrey;
    z-index: 1;

}


.timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -10%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color:lightgrey;
    z-index: 1;
}




/* TIme-line divider */

.timeline-divider{
    height:80%;
    position:absolute;
    width : 0;
   border: 2px dashed #0096fa6b;
    top:8%;
    left:50%
    
    
    
}

.timeline-traveller{
    position:sticky;
    top:25%;
    color:#2857a4 ;
    transform:rotate(90deg);
    z-index:2;
}

/* Common Margin Class */
.mb75px{
    margin-bottom: 75px;
}
/* commom color classes */
.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-blue{
    background-color:#2857a4;
}

.mb-orange{
    background-color:#ff4d06;;
}

.mb-voilet{
    background-color:#806374;
    /* background-color:lightslategrey; */

}

.mb-lightgreen{
    background-color:#099174;
    /* background-color:lightslategrey; */

}



/* Percentage Classes */
.eighty-five-percent{
    width : 85%;
    height: inherit;

} 

.sixty-percent{
    width : 60%;
    height: inherit;

} 
